<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.ase.medicalapplicenta">

    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utile.VerificaUserConectat"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalAppLicenta">
        <activity
            android:name=".activitati.DocumentePersonaleActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.IncasariActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.DespreNoiActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ConversatiiActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.NotificariActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.FeedbackPacientActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ListaPacientiActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.CalculatorBmiActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.FacturiActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.OreDisponibileActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ProgramariActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ListaInvestigatiiActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ListaMediciActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ProfilMedicActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.HomeMedicActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.InregistrareMedicActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ConectareMedicActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ProfilPacientActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.InregistrarePacientActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activitati.ConectarePacientActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>